.App {
  text-align: center;
}

.row {
  display: grid;
  grid-auto-flow: column;
  text-align: left;
}

.feedback-row {
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  height: 33.33%;
}
